body {
  background-color: #f7f1df;
}

div h1 {
  text-align: left;
  font-weight: normal;
  padding-left: 25px;
  margin-top: 0;
  color: #d9c282;
  line-height: 1.8em;
  background: black;
  height: 2em;
  display: inline;
}

#nav {
  background-color: black;
  margin-bottom: 20px;
}

#info-button {
  float: right;
  text-decoration: none;
  background-color: black;
  border: none;
  margin-top: 0;
  color: #d9c282;
  line-height: 2.38em;
  text-align: center;
  font-size: 1.3em;
  padding: 8px 25px 8px;
  padding-bottom: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

#header {
  margin-bottom: 20px;
}


.info-area {
  display: none;
  background-color: black;
  width: 15%;
  color: #d9c282;
  padding: 10px;
  position: absolute;
  right: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

#info-spot:hover .info-area {
  display: block;
}

#info-spot:hover #info-button {
  background-color: #d9c282;
  color: black;
}

h2 {
  margin-left: 5%;
  margin-bottom: 10px;
  display: inline;
  font-weight: lighter;
  color: black;
  text-shadow: 1px 1px #d9c282;
}

#summary-header {
  margin: 0;
}

.dropdown a {
  display: block;
}

p {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  line-height: 1.6;
  border: 2px #d9c282 solid;
}

.drop-button {
  display: inline-block;
}

.select-selected {
  background-color: black;
  padding: 15px;
  border-radius: 8px;
  color: #d9c282;
  text-align: center;
  position: relative;
  font-family: arial;
  border: black solid 1px;
  font-weight: bolder;
}

.select-selected:hover {
  background-color: #d9c282;
  color: black;
}

option {
  background-color: black;
  color: white;
}

#submit {
  padding: 15px;
  border: none;
  margin-top: 10px;
  margin-left: 10px;
  background-color: black;
  color: #d9c282;
  font-weight: bolder;
  border-radius: 8px;
  display: inline-block;
  box-shadow: 0 3px black;
  border: black solid 1px;
}

#submit:hover {
  background-color: #d9c282;
  color: black;
}

#submit:active {
  box-shadow: none;
}

#resetText {
  padding: 15px;
  border: none;
  margin-top: 10px;
  margin-left: 10px;
  background-color: black;
  color: #d9c282;
  border-radius: 8px;
  display: inline-block;
  box-shadow: 0 3px black;
  border: black solid 1px;
  font-weight: bolder;
}

#resetText:hover {
  background-color: #d9c282;
  color: black;
}

#resetText:active {
  box-shadow: none;
}

.submission-button-area {
  margin-top: 10px;
}

.drop-items {
  margin: 0px;
  text-decoration: none;
  color: #d9c282;
}

.form {
  margin-left: 5%;
}

.left {
  float: left;
  display: inline-block;
  width: 50%;
  height: 100vh;
}

.right {
  margin-left: 2.5%;
  margin-right: 2.5%;
  float: right;
  display: inline-block;
  width: 45%;
}

.questions {
  margin-top: 20px;
}

.question-buttons {
  margin: 10px;
  margin-left: 0;
  margin-top: 10px;
  padding: 10px;
  border: none;
  background-color: black;
  color: #d9c282;
  font-weight: bolder;
  border-radius: 30px;
  display: inline-block;
  box-shadow: 0 3px black;
  border: black solid 1px;
}

.loading {
  margin-left: 2.5%;
  margin-right: 2.5%;
  float: right;
  display: inline-block;
  width: 45%;
  text-align: center;
}

div textarea {
  font-size: 15px;
  font-family: arial;
  border-radius: 8px;
  border-style: black;
  font: arial;
  resize: none;
  height: 50vh;
  padding: 10px 10px;
  margin-top: 10px;
  width: 95%;
  line-height: 1.6;
}
