body {
  background-color: #f7f1df;
}

img {
  height: 100%;
  width: 100%;
}

#img-div {
  display: inline-block;
  position: absolute;
  align-items: baseline;
  width: 3.8em;
  height: 3.5em;
  top: 0;
  bottom: 0;
  line-height: 1.8em;
}

div h1 {
  text-align: left;
  font-weight: normal;
  padding-left: 10px;
  margin-top: 0;
  margin-left: 3.4rem;
  color: #d9c282;
  background: black;
  line-height: 1.8em;
  display: inline;
}

input[type="file"] {
  display: none;
}

#nav {
  background-color: black;
  margin-bottom: 30px;
}

#info-button {
  float: right;
  text-decoration: none;
  background-color: black;
  border: none;
  margin-top: 0;
  color: #d9c282;
  line-height: 2.38em;
  text-align: center;
  font-size: 1.3em;
  padding: 8px 25px 8px;
  padding-bottom: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

#header {
  margin-bottom: 20px;
}


.info-area {
  display: none;
  background-color: black;
  width: 15%;
  color: #d9c282;
  padding: 10px;
  position: absolute;
  right: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

#info-spot:hover .info-area {
  display: block;
}

#info-spot:hover #info-button {
  background-color: #d9c282;
  color: black;
}

h2 {
  margin-bottom: 10px;
  display: inline;
  font-weight: lighter;
  color: black;
  text-shadow: 1px 1px #d9c282;
}

h3 {
  margin-top: 30px;
  display: inline;
  font-weight: lighter;
  color: black;
  text-shadow: 1px 1px #d9c282;
}

#summary-header {
  margin: 0;
}

#summary-p {
  height: 60vh;
  overflow-y: auto;
}

.dropdown a {
  display: block;
}

p {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  line-height: 1.6;
  border: 2px #d9c282 solid;
}

.drop-button {
  display: inline-block;
}

.select-selected {
  background-color: black;
  padding: 10px;
  border-radius: 8px;
  color: #d9c282;
  text-align: center;
  position: relative;
  font-family: arial;
  font-weight: bolder;
}

.select-selected:hover {
  background-color: #d9c282;
  color: black;
}

.custom-file-upload {
  padding: 10px;
  border: none;
  margin-top: 10px;
  background-color: black;
  color: #d9c282;
  font-weight: bolder;
  font-size: .7em;
  border-radius: 8px;
  display: inline-block;
  border: black solid 1px;
  margin-right: 10px;
}

.custom-file-upload:hover {
  background-color: #d9c282;
  border: none;
  box-shadow: 0 2px black;
  color: black;
}

option {
  background-color: black;
  color: white;
}

#submit {
  padding: 15px;
  border: none;
  margin-top: 10px;
  margin-left: 10px;
  background-color: black;
  color: #d9c282;
  font-weight: bolder;
  border-radius: 30px;
  float: right;
  border: black solid 1px;
}

#submit:hover {
  background-color: #d9c282;
  border: none;
  box-shadow: 0 2px black;
  color: black;
}

#submit:active {
  box-shadow: none;
}

#resetText {
  padding: 10px;
  border: none;
  margin-top: 10px;
  margin-left: 10px;
  background-color: black;
  color: #d9c282;
  border-radius: 8px;
  border: black solid 1px;
  font-weight: bolder;
}

#resetText:hover {
  background-color: #d9c282;
  border: none;
  box-shadow: 0 2px black;
  color: black;
}

#resetText:active {
  box-shadow: none;
}

.submission-button-area {
  margin-top: 10px;
  height: 10vh;
}

.drop-items {
  margin: 0px;
  text-decoration: none;
  color: #d9c282;
}

.left {
  float: left;
  display: inline-block;
  margin-left: 3.33%;
  margin-right: 1.66%;
  width: 45%;
}

.right {
  margin-left: 1.66%;
  margin-right: 3.33%;
  float: right;
  display: inline-block;
  width: 45%;
}

.questions {
  margin-top: 90px;
  border-radius: 8px;
  padding: 10px;
}

.question-buttons {
  margin: 10px;
  margin-left: 0;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 10px;
  border: none;
  background-color: black;
  color: #d9c282;
  font-weight: bolder;
  border-radius: 30px;
  display: inline-block;
  border: black solid 1px;
}


.question-buttons:hover {
  background-color: #d9c282;
  border: none;
  box-shadow: 0 2px black;
  color: black;
}

.questions-buttons:active {
  box-shadow: none;
}

.question-form {
  margin: 0;
  margin-top: 20px;
  padding-right: 10px;
  padding-bottom: 15px;
}

#question-box {
  border-radius: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 15px;
  font-family: arial;
  border-style: black;
  font: arial;
  height: 15px;
  resize: none;
  padding: 10px 10px;
  width: 65%;
  line-height: 1.6;
}

#question-submit {
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px;
  border: none;
  background-color: black;
  color: #d9c282;
  font-weight: bolder;
  border-radius: 30px;
  display: inline-block;
  border: black solid 1px;
}

#question-submit:hover {
  background-color: #d9c282;
  border: none;
  box-shadow: 0 2px black;
  color: black;
}

#question-submit:active {
  box-shadow: none;
}

.key-phrases {
  margin-top: 20px;
}

#phrase-buttons {
  text-align: center;
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
}

.not-selected-button {
  background-color: #d9c282;
  color: black;
}

.selected-button {
  background-color: black;
  color: #d9c282;
  box-shadow: 0 2px #d9c282;
}

#key-phrase-button, #rare-words-button {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.3em;
  font-weight: lighter;
  text-decoration: none;
  display: inline-block;
}

#key-phrase-button {
  width: 50%;
  border-top-left-radius: 8px;
}

#keyphrase-p {
  padding: 0;
  margin-bottom: 50px;
  margin-top: 100px;
}

#rare-words-button {
  width: 50%;
  border-top-right-radius: 8px;
}

.phrase-list {
  margin: 0;
  width: 75%;
  display: block;
  margin-top: 20px;
  font-size: 1.1em;
  list-style-type: circle;
  margin-bottom: 10px;
}

.loading {
  margin-left: 1.66%;
  margin-right: 3.33%;
  float: right;
  display: inline-block;
  width: 45%;
  text-align: center;
}

.comprehension-questions {
  border-radius: 8px;
  font-weight: lighter;
  font-size: 1.7em;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 8px;
}

div textarea {
  font-size: 15px;
  font-family: arial;
  border-radius: 8px;
  border-style: black;
  font: arial;
  resize: none;
  height: 50vh;
  padding: 10px 10px;
  margin-top: 10px;
  width: 95%;
  line-height: 1.6;
}
